<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="d">
    <div >
        <p >Archive</p>
        <div class="empty-state">
            <img src="../../../../assets/corbeille.svg" alt="Form Icon">
            <h6>VOUS N'AVEZ PAS DE FORMULAIRES DANS LES ARCHIVES.</h6>
            <p>Vos formulaires apparaîtront ici.</p>
        </div>
    </div>
</body>
</html>

  