
<div class="main-container">
    <mat-toolbar class="navbar">
        <span><img src="../../../assets/formsapp-logo.svg" alt="" srcset=""></span>
        <span class="spacer"></span>
        <span><img src="../../../assets/perss.png" class="perss"></span>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container ">
      <mat-sidenav mode="side" opened class="sidenav" style="overflow: hidden; height: 90vh;">
          <nav id="sidebarMenu" class="sidebar" style="display: flex; flex-direction: column; height: 100%;">
            <div class="n" style="flex-grow: 1; overflow: hidden;">
              <div class="sidebar">
                  <div class="sidebar-item">
                    <i class="fa fa-folder icon"></i>
                    <span class="title">MES FORMULAIRES</span>
                    <span class="count">(0)</span>
                  </div>
                 <div class="CD">
                  <span  mat-button (click)="openDialog()"><i class="fa fa-folder-plus icon"></i> Créer un nouveau dossier</span>
                 </div>
              </div>
            </div>
            <div class="C" >
              <div class="dropup">
                <button class="b btn d-flex text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Gratuit
                <div class="bn dropdown-toggle"></div>
              </button>
                <ul class="dropdown-menu">
                 <div class="container mt-5">
                  <div class="quota-item">
                    <div class="d-flex justify-content-between">
                      <span>Formulaire de quota</span>
                      <span>0 / 5</span>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="5"></div>
                    </div>
                  </div>

                  <div class="quota-item">
                    <div class="d-flex justify-content-between">
                      <span>Quota de réponses mensuelles</span>
                      <span>0 / 100</span>
                    </div>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="quota-item">
                    <p class="d-flex justify-content-between">
                      <span>Quota de vue de formulaire</span>
                      <span>0 / 1000</span>
                    </p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="1000"></div>
                    </div>
                  </div>
                </div></ul>
              </div>
              
              <nav class="item text-dark">
                <button class="D text-dark" mat-button (click)="handleViewChange('archive')" >
                  <img src="../../../assets/archive.png" class="icon-img"> Archive
                  <span class="count">(0)</span>
                </button>
              </nav>
              <nav class="item text-dark">
                <button class="D text-dark" mat-button (click)="handleViewChange('corbeille')">
                  <img src="../../../assets/corbeille.png" class="icon-img"> Corbeille
                  <span class="count">(0)</span>
                </button>
              </nav>
              <nav class="item text-dark">
                <button class="D text-dark" mat-button (click)="handleViewChange('sommissions')">
                  <img src="../../../assets/soumisions.png" class="icon-img"> Mes Soumissions
                </button>
              </nav>
              <nav class="item text-dark">
               
                  <button mat-button (click)="openDialogTwo()"  class="D text-dark text-hover" >
                   
                    <img src="../../../assets/equipe.png" class="icon-img"> Membres d'équipe
                  </button>
              </nav>
            </div>
          </nav>
      </mat-sidenav>
      <mat-sidenav-content class="content">
       <app-container *ngIf="currentView === 'container' "></app-container>
      <app-archive *ngIf="currentView === 'archive'" (viewChange)="handleViewChange($event)"></app-archive>
      <app-corbeille *ngIf="currentView === 'corbeille'" (viewChange)="handleViewChange($event)"></app-corbeille>
      <app-sommissions *ngIf="currentView === 'sommissions' " (viewChange)="handleViewChange($event)"></app-sommissions>

      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
