<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="d">
    <div class="container">
        <div>
            <h6>Mes soumissions</h6>
            <div class="search-bar">
                <input type="text" placeholder="Chercher">
            </div>
        </div>
       
        <div class="section drafts">
            <h2>Brouillons</h2>
            <p>Aucun projet n'est enregistré</p>
        </div>
        <div class="section completed">
            <h2>Complété</h2>
            <table>
                <thead>
                    <tr>
                        <th>Propriétaire du formulaire</th>
                        <th>Titre du formulaire</th>
                        <th>Date de réponse</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="https://via.placeholder.com/20" alt="icon"> forms.app</td>
                        <td>Onboarding Survey (FR)</td>
                        <td>11/07/2024</td>
                        <td class="actions">
                            <i class="fas fa-comments"></i>
                            <i class="fas fa-eye"></i>
                            <i class="fas fa-trash-alt"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
