<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Améliorez votre forfait</title>
    
</head>
<body>
    <div class="container">
        <div class="icon"><img src="../../../../assets/eqip.png" alt="icon" class="img"></div>
        <div class="promo">
            Profitez aujourd'hui d'une réduction allant <strong>jusqu'à 65%</strong> sur les plans annuels payants ! <br>🌴
        </div>
        <div class="title">Améliorez votre forfait</div>
        <div class="subtitle">Combien de membres de l'équipe souhaitez-vous inviter?</div>
        <div class="pricing-plans">
            <div class="plan">
                <div class="plan-title">Basic</div>
                <div class="plan-member">+1 membre</div>
            </div>
            <div class="plan">
                <div class="plan-title">Pro</div>
                <div class="plan-member">+4 membres</div>
            </div>
            <div class="plan">
                <div class="plan-title">Premium</div>
                <div class="plan-member">+9 membres</div>
            </div>
        </div>
        <button class="button">Améliorer</button>
        <div class="contact">Besoin de plus? <a href="#">Contactez-nous!</a></div>
    </div>
</body>
</html>
