<div class="container-fluid  bg-dark text-white">
  <div class="row h-100">
    <div class="col-md-6 d-flex align-items-center justify-content-center ">
        <div class="w-100 p-4 mx-auto border-radius-10 align-items-center justify-content-center bg-white">
          <form>
            <button type="button" class="back-button" onclick="history.go(-1)">
                <i class="fas fa-arrow-left"></i>
            </button>
        </form>
        <div class="col-12 d-flex justify-content-center align-items-center">
          <a class="logo">
            <img src="https://forms.app/assets/img/logo-home.svg" alt="Forms App Logo" class="logo-img">
          </a>
        </div>
        <div class="d-flex justify-content-center">
          <h5 class="text-dark">Créez votre compte gratuitement !</h5>
        </div>
        <div>
          <form class="w-75 mb-3 form-group container-fluid">
              <div class="form-group">
                <label for="full-name" class="text-dark font-weight-bold  ">Nom complet:</label>
                <input type="text" class="form-control form-control-lg" id="full-name" placeholder="Veuillez saisir votre nom et prénom" required>
              </div>
              <div class="form-group">
                <label for="email" class="text-dark font-weight-bold">Email:</label>
                <input type="email" class="form-control form-control-lg" id="email" placeholder="example@domaine.com" required>
              </div>
              <div class="form-group">
                <label for="username" class="text-dark font-weight-bold">Nom d'utilisateur:</label>
                <input type="text" class="form-control form-control-lg" id="username" placeholder="Veuillez saisir votre nom d'utilisateur" required>
              </div>
              <div class="form-group">
                <label for="password" class="text-dark font-weight-bold">Mot de passe:</label>
                <input type="password" class="form-control form-control-lg text-dark" id="password" placeholder="Veuillez saisir votre mot de passe" required>
              </div>
              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="terms" required>
                <label class="form-check-label text-dark" for="terms">
                  J'accepte les 
                  <a href="#" class="text-dark" ><u>conditions d'utilisation</u></a> et la 
                  <a href="https://forms.app/privacy-policy" class="text-dark" ><u> politique de <br>confidentialité</u></a> de From.app
                </label>
              </div>         
            <div class="w-75 mb-3 text-center">
              <button type="button" routerLink="/navbar" class="btn bg-primary text-white w-100 mb-3">S'INSCRIRE GRATUITEMENT</button>
            </div>
            <div class="text w-75 mb-3">
              <small><a href="" class=" text-dark">Vous avez un compte?</a> <a href="/login" class="font-weight-bold">S'identifier</a></small>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6 d-flex align-items-center justify-content-center bg-dark">
      <div class="col text-center">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner ">
              <div class="carousel-item active justify-content-center align-items-center">
                <img src="../../../../assets/auth-slider1.webp" class="d-block w-100" alt="...">
                <h1 class="text-white title-carousel ">Des thèmes spéciaux pour sadapter à votre style et à votre marque</h1>
                <p class="text-white paragraph-carousel"> Une Impression durable avec plus 50+ theme étonantes.<br/> Transformer votre formulaire en un clic doeil ou personalisez-le pour mettre en valeur votre flair et votre créativité . </p>
              </div>
              <div class="carousel-item">
                <img src="../../../../assets/auth-slider2.webp" class="d-block w-100" alt="...">
                <h1 class="text-white title-carousel">Fonctionnalités logiques pour une meilleure <br/> collecte de données</h1>
                <p class="text-white paragraph-carousel">Les formulaire intelligent donnent de meilleurs résultats. <br/> Rendez vos formulaire plus attrayant en affichant ou en masquant les <br/> questions en fonctiont des réponses.. </p>
              </div>
             
              <div class="carousel-item">
                <img src="../../../../assets/auth-slider3.webp" class="d-block w-100" alt="img">
                <h1 class="text-white title-carousel">Plus de 500+ intégration pour le travail avec nos  <br/>  outils préférés</h1>
                <p class="text-white paragraph-carousel">forme.app est un grand joueur dequipe. Connectez vos formulaire à <br/>  vos applications préférés et   profitez d'un flux de beaucoup plus simple </p>
            </div>
              <div class="carousel-item">
                <img src="../../../../assets/auth-slider4.webp" class="d-block w-100" alt="img">
                <h1 class="text-white title-carousel">Le travail d'équipe rendu facile avec forme.app</h1>
                <p class="text-white paragraph-carousel">Le travail d'équipe fait fonctioner le réve. Incitez votre équipe et <br/>  commencez à travail ensemble sur forme.app en quelque second </p>
            </div>

            </div>
          </div>
    </div>
    </div>
    <script src="" async defer></script>
  </div>
</div>
